#wrapper{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    display: flex;
}
.left{
    width: 300px;
    height: 350px;
    float: left;
    box-sizing: border-box;
}
.content ul{
    padding: 0px!important;
    list-style: none;
    
}

.box-circle-category{
    margin-bottom: 20px;
}
.content h3{
    font-size: 24px;
    font-weight: 600;
    color: #3c6382;
}
#box-breadcrumb a{
    color: #3c6382;
}

#box-breadcrumb a:hover{
    color:#fa8231;
    box-shadow: 2px 2px 2px #2bcbba;
    border-radius: 2px;

}
.content a{
    font-size: 16px;
    text-decoration: none;
    color:#ffc048;
    font-weight: 600;
    margin: 0 20px;
   justify-content: center;
}
.content p{
    
    margin:0 0 6px 0;
    font-size: 16px;
    font-weight: 400;
    color: #0a3d62;
    display: flex;
}


.title{
   
}
p.title{
    font-size: 14px;
    margin: 0px;
    display: flex ;
    font-weight: 400;
    color: #e55039;
}
.title a{
    padding: 0 10px;
    margin: 0 4px;
    border: 0.02px solid #d2dae2 ;
    border-radius: 4px;
   
}
.title a:hover{
    background-color:#0be881 ;
}

.content ul li i{
    color: #ffc048;
}

.content ul li a{
    line-height: 30px;
   text-decoration: none;
   padding: 5px 0;
}
.content ul li a:hover {
    background-color: #4a69bd;
    border-radius: 4px;
}

.right{
    flex-grow: 1;
    box-sizing: border-box;
}
/* heading */
#box-breadcrumb{
    text-align: center;
    
}
#box-breadcrumb a {
    font-size: 24px;
    font-weight: 600;
}
/*end */

/* khung */
.box-category{
   
     float: left;
     width: 275px;
     height: 275px;
     margin: 6px;
     padding: 6px;
     text-align: center;
    border-bottom: 0.5px solid #999;
}
.content .image a img{
    width: 272px;
    height: 225px;
}